doctype html
html(ng-app="todo-list" ng-controller="TodoListController")
  head
    meta(charset="utf-8")
    title {{title}}
  body
    h1 {{title}}
    script(src="../bower_components/angular/angular.js")
    script(src="app.js")
    ul(ng-repeat="todo in todolist")
      li
        span {{todo.task}} {{todo.priority}} {{todo.checked}}
